<article class="clearfix">
  <img class="post_user_img" src="https://image.pet-home.jp/user_file/2019/07/21/1967082_th320.jpeg" alt="">
  <div class="post_text">
    <h3 class="post_user"><% article.user.name %></h3>
    <% article.text%>
    <%# <p>テキスト右テキスト右テキスト右テキスト右テキスト右テキスト右テキスト右テキスト右テキスト右テキスト右</p> %>
  </div>
</article>